[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rcoins"]
	path = rcoins
	url = https://github.com/cityriverspaces/rcoins
[submodule "rcrisp"]
	path = rcrisp
	url = https://github.com/cityriverspaces/rcrisp
[submodule "visor"]
	path = visor
	url = https://github.com/cityriverspaces/visor
